{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ form_title }}</h2>
                    <form method="post" {% if with_media %}enctype="multipart/form-data"{% endif %}>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block mt-3">
                            {% if form_btn %}
                                {{ form_btn }}
                            {% else %}
                                Submit
                            {% endif %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
